.card1 img {
  margin: 10px;
  width: 280px;
  height: 200px;
}

.btn1 {
  margin: 10px;
}

h4 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card1 {
  cursor: pointer;
  margin-top: 20px;
  width: 300px;
  margin-right: 30px;
  margin-bottom: 25px;
}

.details {
  margin: 10px;
}
